*.user

*.o

*.exe

*.Debug

*.Release

*.autosave

*.Release

build-test_detectmotion-Desktop_Qt_5_10_0_MinGW_32bit-Debug/Makefile

*.stash

*.Debug

*.stash

release/

build-CasseBriques-Desktop_Qt_5_10_1_MinGW_32bit-Debug/

build-CasseBriques-Desktop_Qt_5_10_1_MinGW_32bit-Release/

*.autosave

*.stash

*.Debug

build-test_detectmotion-Desktop_Qt_5_10_0_MinGW_32bit-Debug/Makefile